#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a firebird instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Podman firebird.service
Requires=firebird-app.service
After=firebird-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/firebird.id %t/firebird.ctr-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/firebird.pid \
       --pod-id-file %t/mariadb.pod-id \
       --name firebird \
       -p 3050:3050 \
       -- replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/firebird.pod-id
ExecStop=/usr/bin/podman pod stop \
       --ignore -t 10 \
       --pod-id-file %t/firebird.pod-id
ExecStopPost=/usr/bin/podman pod rm \
       -f \
       --ignore -t 10 \
       --pod-id-file %t/firebird.pod-id
PIDFile=%t/firebird.pid
Type=forking

[Install]
WantedBy=default.target
